<ul>
  <% @recommendations.take(20).each do |recommendation| %>
    <div class="item">
      <div class="beer_title">
        <div>
          <%= link_to Beer.find_by(beer_id: recommendation.first).name, beer_path(recommendation.first) %>
        </div>
      </div>
      <div class="beer_image">
        <%= image_tag("http://res.cloudinary.com/ratebeer/image/upload/w_250,c_limit,q_85,d_beer_def.gif/beer_" + recommendation.first.to_s + ".jpg", size: "75x75") %>
      </div>

      <div class="beer_info">
        <div class="beer_label">
          <div>
            <%= Beer.find_by(beer_id: recommendation.first).style.style %>
          </div>
          <div>
            ABV:
             <% if Beer.find_by(beer_id: recommendation.first).abv == 0.0 %>
              <%= '--' %>
              <% else %>
                <%= Beer.find_by(beer_id: recommendation.first).abv %>%
            <% end %>
          </div>
        </div>
      </div>

      <div class="expected">
        <div>
          Your Expected Rating
        </div>
        <% recommendation.last.to_i.times do %>
          <span id="heart"><%= "♥" %></span>
          <% end %>
        <% (10-recommendation.last).to_i.times do %>
          <span id = "blank_heart"><%= "♥" %></span>
        <% end %>
      </div>
    </div>

  <% end %>
</ul>
