<div class="panel">
  <%= @user.profile_name %>'s reviews and ratings
  <% if @user.id == current_user.id %>
    <div>
      This is you!
    </div>
  <% else %>
    <div>
      You have a <%= '%.0f' % (Score.simpearson(current_user.id, @user.id) * 100) %>% similarity with <%= @user.profile_name %>
    </div>
  <% end %>
</div>

<ul>
  <div>
    <% @user.reviews.each do |review| %>
      <div class="panel">
        <div>
          <%= link_to review.beer.name, beer_path(review.beer.id) %>
        </div>
        <div>
          <%= review.text %>
        </div>
        <div class="panel_expected">
          <% review.taste.to_i.times do %>
          <span id="heart"><%= "♥" %></span>
        <% end %>
          <%(10 - review.taste.to_i).times do %>
          <span id = "blank_heart"><%= "♥" %></span>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</ul>
