<ul>
<% @beers.each do |beer| %>
  <li>
  Name: <%= link_to beer.name, beer_path(beer) %><br>
  Brewer:<%= beer.brewer.name %><br>
  Style: <%= beer.style.style %><br>
  ABV:
   <% if beer.abv == 0.0 %>
    <%= '--' %><br>
    <% else %>
      <%= beer.abv %>%<br>
  <% end %>
  </li>
<% end %>
</ul>

<%= paginate @beers %>
