Search for a beer here or leave it empty to see our entire beer list.

<%= form_tag beers_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ul>
<% @beers.each do |beer| %>
  <p>
  Name: <%= link_to beer.name, beer_path(beer) %><br>
  Brewer:<%= beer.brewer.name %><br>
  Style: <%= beer.style.style %><br>
  ABV:
   <% if beer.abv == 0.0 %>
    <%= '--' %><br>
    <% else %>
      <%= beer.abv %>%<br>
  <% end %>
  </p>
<% end %>
</ul>

