<h1><%= @beer.name %></h1>

<div>ABV: <% if @beer.abv == 0.0 %>
  <%= '--' %>
  <% else %>
    <%= @beer.abv %>%</small>
    <% end %>
</div>
<div>Average rating: <%= @average %></div>
<div>Style: <%= @beer.style.style %></div>
<div>Made by: <%= @beer.brewer.name %></div>
<div>Number of reviews: <%= @beer.reviews.count %></div>

<h5>Add Review</h5>
  <%= form_for [@beer, @review] do |f| %>
    <div>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <div>
      <%= f.label :taste %>
      <%= f.select :taste, (1..10) %>
    </div>
    <div><%= f.submit "Submit" %></div>
  <% end %>

<h2>Reviews:</h2>
<% @beer.reviews.each do |review| %>
  <p>
  User <%= link_to review.user.profile_name, user_path(review.user.id) %> gave it a rating of <%= review.taste %><br>
  <%= review.text %><br>
  <small>by user <%= review.user.profile_name %> on <%= review.created_at %></small>
  </p>
<% end %>
