<nav class="top-bar docs-bar hide-for-small" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1><a><%= link_to "BeerMatch", root_path %></a></h1>
    </li>
  </ul>

<section class="top-bar-section">
    <ul class="right">
      <% if !user_signed_in? %>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li>
        <li>
          <a><%= link_to "Sign up", new_user_registration_path %></a>
        </li>
      <% else %>
        <li>
          <%= link_to "All Our Beers", beers_path %>
        </li>
        <% if Dictionary.last.payload[current_user.id.to_s] != nil %>
          <li>
            <%= link_to "Beer Recommendations For You", user_recommendations_path(current_user.id) %>
          </li>
          <li>
            <a><%= link_to "Users Most Similar to You", users_path %></a>
          </li>
          <li>
            <a><%= link_to "See Your Reviews", user_path(current_user.id) %></a>
          </li>
        <% end %>
        <li>
          <a><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></a>
        </li>
      <% end %>
    </ul>
</section>
</nav>
