<!DOCTYPE html>
<html>
<head>
  <title>Beer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>This is a beer recommendation site</h1>
<%= flash[:notice] %>
<div>
  Click <%= link_to "here", beers_path %> to see all our beers. We have <%= Beer.count %> of them through <%= Brewer.count %> brewers.
</div>
<div>
  <% if user_signed_in? %>
    <div>
      Click <%= link_to "here", user_path(current_user.id) %> to see all your reviews and ratings
    </div>
    <div>
      Click <%= link_to "here", '#' %> to see the top 10 users with similar tastes as you.
    </div>
  <% end %>
</div>
<hr>
<%= yield %>

</body>
</html>
