<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Foundation core CSS -->
    <link rel="stylesheet" href="css/foundation.css">
    <!-- Foundation font icons core CSS -->
    <link rel="stylesheet" href="css/foundation-icons.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/app.css">
    <!-- Media Queries css -->
    <link rel="stylesheet" href="css/media_queries.css">
    <!-- Google Web Fonts CSS -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- Favicons -->
    <link rel="icon" href="../../assets/images/favicon/favicon.ico" type="image/x-icon">


    <title>BeerMatch</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= render 'layouts/main_navbar' %>
    <div class="row">
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
