<!DOCTYPE html>
<html>
<head>
  <title>Beer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>This is a beer recommendation site</h1>
<%= flash[:notice] %>
<div>
  Click <%= link_to "here", beers_path %> to see all our beers. We have <%= Beer.count %> of them through <%= Brewer.count %> brewers.
</div>
<hr>
<%= yield %>


<% if !user_signed_in? %>
  <div>
    <%= link_to "Sign in", new_user_session_path %>
  </div>
  <div>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
<% else %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>

</body>
</html>
